<!-- src/services/email/templates/welcome.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{appName}}</title>
</head>
<body>
    <h1>Welcome to {{appName}}!</h1>
    <p>Hi {{fullName}},</p>
    <p>Welcome to our platform. You can now start exploring!</p>
    <a href="{{loginUrl}}">Login here</a>
    <p>Best regards,<br>The {{appName}} team</p>
</body>
</html>
